@media (max-width: 1200px) {

    .dinner {
        width: 20rem;
        height: 20rem;
    }

    .container{
        width: 80%;
        left:25%;
    }

    .game {
        height: 80%;
        bottom: 0;
    }

    .modal__inner {
        width: 72.5%;
        height: 90%;
        box-sizing: border-box;
    }

    .game_logo{
        height: 55%;
    }
}

@media (max-width: 540px) {
    #bg {
        width: 100vw;
        height: 500vh;
    }

    .sea {
        background: linear-gradient(rgba(240, 235, 216, 0.25) 10%, rgba(56, 99, 105, 0.75) 20%);
    }

    .logo {
        width: 300px;
        height: 140px;
        left: 50%;
        margin-top: 15%;
    }

    .traveler {
        width: 3.5rem;
        height: 6.5rem;
    }

    .star {
        display: none;
    }

    #island {
        width: 45rem;
        height: 115rem;
        margin-top: 70%;
    }

    .dinner {
        left: 10%;
        top: 2.5%;
        width:15rem;
        height: 15rem;
    }

    .info_final .highlight_number {
        display: none;
    }

    .info,
    .content,
    .info_stop.i_left,
    .info_stop.i_right,
    .info_final {
        left: 7.5%;
        letter-spacing: 0.05em;
    }

    .info,
    .info_stop,
    .info_final {
        font-size: 30px;
    }

    .open_info{
        margin-top: 30%;
    }

    .info::before{
        display: none;
    }

    .content {
        font-size: 15px;
    }

    .container{
        left:7.5%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .c_content{
        width: 100%;
    }

    .game{
        width: 100%;
        left: 0;
        height: 50%;
    }

    .egg{
        left:0%;
    }

    .egg_btn{
        width:7.5rem;
        height: 7.5rem;
        bottom: 30%;
    }

    .grass{
        display: none;
    }

    .rock{
        width: 100%;
    }

    .copyright {
        width: 90%;
        font-size: 10px;
    }

    .modal__inner {
        width: 80%;
        height: 70%;
    }

    .modal__close {
        width: 36px;
        height: 36px;
        right: 10%;
        top: 30px;
    }

    .game_logo{
        height: 30%;
    }

    .game_nav{
        width: 100%;
        height: 10%;
        text-align: left;
    }

    .game_word{
        text-align: left;
    }

    .g_link_area{
        width:100%;
        height: 30%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .game_link{
        width: 90%;
    }

    #toggle {
        width: 10vh;
        height: 10vh;
        top: 5vh;
        left: 93%;
        transform: translate(-50%, -50%);
    }

    #menu {
        width: 100vw;
        height: 10vh;
        left: 0;
        top: 0;
    }

    .menu_bg {
        background-image: url("./img/bg/loading_bg.jpg");
        width: 110vw;
        height: 120dvh;
        left: 0vw;
        top: -150dvh;
        transition: 1s;
    }

    .hamburger {
        width: 10vh;
        height: 10vh;
        top: 50%;
        left: 90%;
        transform: translate(-50%, -50%);
    }

    .text {
        display: none;
    }

    #toggle:checked~.menu_bg {
        transform: translateY(140vh);
        transition: 1s;
    }

    .menu_link_content {
        width: 100%;
        height: 60%;
    }

    .menu_link,
    .menu_link.m_big {
        font-size: 26px;
    }

    .m_span {
        font-size: 12px;
    }

    .sns_content.s_menu {
        width: 40%;
        left: 5%;
        top: 80%;
    }
}
