@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");
/*$fish_bg: rgba(159, 191, 196, 0.25);*/
* {
  /*border: 1px solid;*/
}

body {
  overflow-x: hidden;
}

#bg {
  position: absolute;
  width: 100vw;
  height: 500vh;
  background-image: url(https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/b7ccac6f.png);
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.rock {
  position: absolute;
  width: 210vh;
  height: 110vh;
  left: 0;
  bottom: 0;
  background-image: url(https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/rock.png);
  background-size: cover;
  opacity: 0.5;
}

#route {
  position: absolute;
  width: 30vh;
  height: 420vh;
  top: 80vh;
  left: 47.5%;
  transform: translate(-50%);
}

/*-----message-----*/
.message {
  position: absolute;
  width: 50vh;
  height: 10vh;
  background: rgba(240, 235, 216, 0.25);
}

.message.m1 {
  top: 40vh;
  left: -60vh;
}

.message.m2 {
  top: 55vh;
  left: -55vh;
}

.b1,
.b2,
.b3,
.b4,
.b1top,
.b2top,
.b3top,
.b4top {
  position: absolute;
  width: 50vh;
  height: 60vh;
  /*border:1px solid;*/
}

.b1 {
  /*top: 140vh;
  left: calc(45% + 20vh);*/
  top: 70vh;
  left: 30vh;
}

.b2 {
  /*top: 200vh;
  left: calc(45% - 60vh);*/
  top: 120vh;
  left: -50vh;
}

.b3 {
  /*top: 260vh;
  left: calc(45% + 20vh);*/
  top: 170vh;
  left: 30vh;
}

.b4 {
  /*top: 320vh;
  left: calc(45% - 60vh);*/
  top: 220vh;
  left: -50vh;
}

.b1top {
  top: 150vh;
  left: calc(47.5% + 15vh);
}

.b2top {
  top: 200vh;
  left: calc(47.5% - 65vh);
}

.b3top {
  top: 250vh;
  left: calc(47.5% + 15vh);
}

.b4top {
  top: 300vh;
  left: calc(47.5% - 65vh);
}

.floor {
  position: absolute;
  width: 20vh;
  height: 10vh;
  top: 0;
  background: #f0ebd8;
  font-family: "Monda", sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 10vh;
}

.floor.f_left {
  right: 0;
}

.floor.f_right {
  left: 0;
}

.pic,
.water {
  position: absolute;
  width: 40vh;
  height: 40vh;
  top: 15vh;
  left: 50%;
  transform: translate(-50%);
  border: 1vh solid #f0ebd8;
}

.pic {
  /*background: $cream;*/
  box-shadow: 0vh 1vh 5vh #f0ebd8 inset;
}

.pic.p_left::before {
  content: "";
  position: absolute;
  width: 5vh;
  height: 2vh;
  top: 0;
  right: -5vh;
  background: #ffffff;
}

.pic.p_right::before {
  content: "";
  position: absolute;
  width: 5vh;
  height: 2vh;
  top: 0;
  left: -5vh;
  background: #ffffff;
}

.water {
  background: #7eabb1;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -80%;
  left: -10%;
  background: rgba(240, 235, 216, 0.25);
  border-radius: 30% 40% 50% 30%;
  animation: wave 15s infinite linear;
}

@keyframes wave {
  100% {
    transform: rotate(720deg);
  }
}
.wave2 {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -80%;
  left: -10%;
  background: #ffffff;
  border-radius: 30% 40% 50% 40%;
  animation: wave 5s infinite linear;
}

.more {
  position: absolute;
  width: 20vh;
  height: 10vh;
  bottom: 0;
  left: 50%;
  background-image: url(https://images.plurk.com/4G3rfaZfxPHS1G1c821qzq.png);
  transform: translate(-50%);
  border: none;
  z-index: 1000;
  border-radius: 2vh;
  font-family: "Monda", sans-serif;
}

.icon {
  position: absolute;
  width: 40vh;
  height: 40vh;
  top: 10vh;
  left: 42%;
  transform: translate(-50%);
  background-size: cover;
}

.icon.i1 {
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/item1.png");
}

.icon.i2 {
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/item2.png");
}

.icon.i3 {
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/item3.png");
}

.icon.i4 {
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/item4.png");
}

.tunnel {
  position: absolute;
  width: 30vh;
  height: 300vh;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background: rgba(240, 235, 216, 0.25);
  box-shadow: 0vh 1vh 7vh #f0ebd8;
}

.car {
  position: absolute;
  width: 28vh;
  height: 20.5vh;
  top: 0;
  left: 1vh;
  transform: translate(-50%);
}

.car_bottom,
.car_top {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
}

.car_bottom {
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/car_bottom.png");
}

.car_top {
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/car_top.png");
}

/*-----traveler-----*/
.traveler {
  position: absolute;
  width: 8vh;
  height: 15vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/people.png");
  background-size: cover;
}

.traveler.t_top {
  top: 26vh;
  left: 77vh;
  opacity: 1;
  /*animation:people 10s linear;*/
  animation: people2 3s linear;
}

.traveler.t_sea {
  bottom: 2.75vh;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
}

.iron {
  position: absolute;
  width: 46vh;
  height: 80vh;
  left: 47.5%;
  bottom: 0;
  transform: translate(-50%);
  background-image: url(https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/iron.png);
  background-size: cover;
}

.sand {
  position: absolute;
  width: 220vh;
  height: 120vh;
  left: 0;
  bottom: 0;
  /*transform:translate(-50%);*/
  background-image: url(https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/sand.png);
  background-size: cover;
}

.grass {
  position: absolute;
  width: 22vh;
  height: 30vh;
  left: 16vh;
  bottom: 3vh;
  /*transform:translate(-50%);*/
  background-image: url(https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/grass.png);
  background-size: cover;
}

.sea {
  position: absolute;
  background: linear-gradient(rgba(240, 235, 216, 0.25) 20%, rgba(56, 99, 105, 0.75) 30%);
  width: 100%;
  height: 500vh;
  left: 0;
  bottom: 0;
}

/*-----star-----*/
.star {
  position: absolute;
  width: 36vh;
  height: 36vh;
  top: 4vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/star.png");
  background-size: cover;
}

.star.s_right {
  right: 0;
  animation: up 2s infinite alternate;
}

.star.s_left {
  left: 0;
  transform: scalex(-1);
  animation: up_star 2s infinite alternate;
}

/*-----island-----*/
#island {
  position: absolute;
  width: 180vh;
  height: 460vh;
  top: 15vh;
  left: 50%;
  transform: translate(-50%);
}

.land {
  position: absolute;
  width: 170vh;
  height: 95vh;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  /*background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/island_all.png");
  background-size: cover;*/
}

.kuruma {
  position: absolute;
  width: 14vh;
  height: 7vh;
  top: 66.5vh;
  left: 57vh;
  /*width:100%;
  height:100%;
  top:0;
  left:20vh;*/
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/kuruma.png");
  /*clip-path: polygon(0% 34%, 0% 41%, 7% 41%, 7% 34%);*/
  background-size: cover;
}

.shima,
.nabe_bottom,
.enoki,
.tofu,
.shiitake,
.kani,
.toumorokoshi,
.hamaguri,
.maru,
.nabe_top,
.ebi,
.hana,
.tako,
.takoyaki,
.toudai,
.shouyu_top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/island_cut.png");
  background-size: cover;
}

.shima {
  top: 0;
  left: 0;
  clip-path: polygon(0% 41%, 0% 100%, 100% 100%, 100% 41%);
}

.nabe_bottom {
  top: 30vh;
  left: -59vh;
  clip-path: polygon(66% 0%, 66% 40%, 100% 40%, 100% 0%);
}

.enoki {
  top: 45vh;
  left: 40vh;
  clip-path: polygon(25% 0%, 25% 13%, 34% 13%, 34% 0%);
  animation: enoki 2.2s infinite alternate;
}

.tofu {
  top: 22.5vh;
  left: 62.5vh;
  clip-path: polygon(18% 11%, 18% 20%, 25% 20%, 25% 11%);
  animation: tofu 3.6s infinite alternate;
}

.shiitake {
  top: 25vh;
  left: 62.5vh;
  clip-path: polygon(12% 11%, 12% 20%, 18% 20%, 18% 11%);
  animation: shiitake 2.8s infinite alternate;
}

.kani {
  top: 22.5vh;
  left: 15vh;
  clip-path: polygon(25% 13%, 25% 20%, 35% 20%, 35% 13%);
  animation: kani 3.2s infinite alternate;
}

.toumorokoshi {
  top: 30vh;
  left: 32vh;
  clip-path: polygon(22% 21%, 22% 30%, 28% 30%, 28% 21%);
  animation: toumorokoshi 1.4s infinite alternate;
}

.hamaguri {
  top: 17vh;
  left: 44vh;
  clip-path: polygon(18% 21%, 18% 30%, 22% 30%, 22% 21%);
  animation: hamaguri 4s infinite alternate;
}

.maru {
  top: 14vh;
  left: 18vh;
  clip-path: polygon(23% 30%, 23% 40%, 28% 40%, 28% 30%);
  animation: maru 1.8s infinite alternate;
}

.nabe_top {
  top: 30vh;
  left: -4vh;
  clip-path: polygon(35% 0%, 35% 40%, 66% 40%, 66% 0%);
}

.ebi {
  top: 11.75vh;
  left: 88.75vh;
  clip-path: polygon(7.5% 26%, 7.5% 44%, 14% 44%, 14% 26%);
  transform-origin: 10% 30%;
  animation: ebi 2s alternate infinite;
}

.hana {
  top: 27.5vh;
  left: 61vh;
  clip-path: polygon(13% 28%, 13% 41%, 22% 41%, 22% 28%);
  animation: hana 10s infinite;
}

.takoyaki {
  top: 55.75vh;
  left: 44vh;
  clip-path: polygon(0% 0%, 0% 13%, 9% 13%, 9% 0%);
}

/*-----tako-----*/
.tako {
  top: 48vh;
  clip-path: polygon(7% 12%, 7% 21%, 12% 21%, 12% 12%);
}

.tako.t1 {
  left: 65.5vh;
}

.tako.t2 {
  left: 82.5vh;
}

/*-----toudai-----*/
.toudai {
  top: 51vh;
  left: 22vh;
  clip-path: polygon(0% 13%, 0% 34%, 7.5% 34%, 7.5% 13%);
}

.hikari {
  position: absolute;
  width: 30vh;
  height: 50vh;
  top: 65vh;
  left: 8vh;
  clip-path: polygon(60% 0, 70% 0%, 100% 100%, 0% 100%);
  transform: rotate(40deg);
  transform-origin: 60% 0%;
  background: linear-gradient(rgba(240, 235, 216, 0.25), rgba(240, 235, 216, 0.01));
  animation: hikari 5s alternate infinite;
}

/*-----shouyu-----*/
.shouyu {
  position: absolute;
  width: 11vh;
  height: 18vh;
  top: 68.5vh;
  left: 72vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/shouyu.png");
  background-size: cover;
}

.shouyu:hover ~ .shouyu_top {
  transition: 0.5s;
  transform: translatey(-1vh) rotate(-1deg);
}

.shouyu_top {
  top: 46vh;
  left: 58.75vh;
  clip-path: polygon(7% 21%, 7% 26%, 12% 26%, 12% 21%);
  transform: rotate(18deg);
  transform-origin: 10% 30%;
}

.rouru {
  position: absolute;
  width: 6vh;
  height: 5.5vh;
  top: 72vh;
  left: 146.25vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/rouru.png");
  background-size: cover;
  transition: 0.5s;
}
.rouru:hover {
  transform: translatey(-1vh);
}

/*-----sushi-----*/
.sushi {
  position: absolute;
  width: 6.25vh;
  height: 8.5vh;
  background-size: cover;
  transition: 0.5s;
}
.sushi:hover {
  transform: translatey(-1vh);
}

.sushi.s1 {
  top: 73.5vh;
  left: 43.5vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/sushi1.png");
}

.sushi.s2 {
  top: 74.25vh;
  left: 50vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/sushi2.png");
}

.sushi.s3 {
  top: 74.5vh;
  left: 57vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/sushi3.png");
}

.sushi.s4 {
  top: 75.25vh;
  left: 63.75vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/sushi4.png");
}

.logo {
  position: absolute;
  width: 60vh;
  height: 27vh;
  top: 12vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/logo.svg");
  background-size: cover;
  animation: logo 2s infinite alternate;
}

.fly {
  position: absolute;
  width: 81vh;
  height: 50vh;
  top: -70vh;
  left: 47.5%;
  transform: translate(-50%);
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/fly.png");
  background-size: cover;
  animation: fly2 3s linear;
}

/*-----menu-----*/
#menu {
  position: fixed;
  width: 15vh;
  height: 100vh;
  background: none;
  left: 0;
  top: 0;
  border-right: 0.25vh solid #fff;
}

.menu_bg {
  position: absolute;
  /*background: $cream;*/
  background-image: url(https://images.plurk.com/4G3rfaZfxPHS1G1c821qzq.png);
  width: 120vw;
  height: 100vh;
  left: -150vw;
  top: -45vh;
  transition: 1s;
}

.hamburger {
  position: absolute;
  width: 50%;
  height: 10vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#toggle {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 50%;
  top: 40%;
  border: none;
  margin: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#toggle:checked ~ .menu_bg {
  transform: translatex(140vw);
  transition: 1s;
}

#toggle:checked ~ .text {
  color: #7eabb1;
  transition: 1s;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  position: absolute;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #f0ebd8;
  stroke-width: 3.5;
  stroke-linecap: round;
  animation: line 1s infinite linear alternate;
}

.ham .top {
  stroke-dasharray: 40 139;
}

.ham .bottom {
  stroke-dasharray: 40 180;
}

.ham.active .top {
  stroke-dashoffset: -98px;
}

.ham.active .bottom {
  stroke-dashoffset: -138px;
}

.text {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  /*font-family: 'Barlow Condensed', sans-serif;*/
  /*font-family: 'Teko', sans-serif;*/
  font-family: "Monda", sans-serif;
  color: #f0ebd8;
  font-size: 1vh;
}

/*-----menu_open-----*/
ul {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  list-style: none;
}

a {
  text-decoration: none;
}

.big {
  padding: 4vh;
  color: #7eabb1;
  font-family: "微軟正黑體";
}

.small {
  padding: 4vh;
  color: #7eabb1;
  font-family: "微軟正黑體";
}

.m {
  font-family: "Monda", sans-serif;
  color: #9fbfc4;
  font-size: 1vh;
}

.boat_menu {
  position: absolute;
  width: 30vh;
  height: 20vh;
  top: 70vh;
  right: 30vh;
  background-image: url("https://raw.githubusercontent.com/87penginnouta/Cfood_enter/master/boat.png");
  background-size: cover;
}

.none {
  display: none;
}

/*-----animation-----*/
@keyframes line {
  0% {
    stroke: #f0ebd8;
  }
  100% {
    stroke: #7eabb1;
  }
}
@keyframes logo {
  0% {
    transform: translate(-50%, -50%) rotate(2deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes fly {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(300vh);
  }
}
@keyframes up {
  0% {
    transform: translatey(1.5vh);
  }
}
@keyframes up_star {
  0% {
    transform: translatey(1.5vh) scalex(-1);
  }
}
@keyframes enoki {
  0% {
    transform: translatey(2.2vh);
  }
}
@keyframes tofu {
  0% {
    transform: translatey(1.2vh);
  }
}
@keyframes shiitake {
  0% {
    transform: translatey(1.6vh);
  }
}
@keyframes kani {
  0% {
    transform: translatey(1.4vh);
  }
}
@keyframes toumorokoshi {
  0% {
    transform: translatey(3.4vh);
  }
}
@keyframes hamaguri {
  0% {
    transform: translatey(0.8vh);
  }
}
@keyframes maru {
  0% {
    transform: translatey(2vh);
  }
}
@keyframes people {
  0% {
    left: -40vh;
    top: -26vh;
  }
  14.5% {
    left: -40vh;
    top: -26vh;
  }
  45.25% {
    left: 77vh;
    top: -26vh;
  }
  55% {
    left: 77vh;
    top: 26vh;
    transform: translatey(1vh);
  }
  60% {
    transform: translatey(0);
  }
  65% {
    transform: translatey(1vh);
  }
  70% {
    transform: translatey(0);
  }
  75% {
    transform: translatey(1vh);
  }
  80% {
    transform: translatey(0);
  }
  85% {
    transform: translatey(1vh);
  }
  90% {
    transform: translatey(0);
  }
  95% {
    transform: translatey(1vh);
  }
}
@keyframes hana {
  0% {
    transform: translatey(0px);
  }
  60% {
    transform: translatey(0px);
  }
  70% {
    transform: translatey(-8vh);
  }
}
@keyframes hikari {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
@keyframes ebi {
  0% {
    transform: rotate(-5deg);
  }
}
@keyframes people2 {
  0% {
    top: -37vh;
  }
  36% {
    top: 8vh;
  }
}
@keyframes fly2 {
  0% {
    top: -70vh;
  }
  35% {
    top: -30vh;
  }
  70% {
    top: -30vh;
  }
}